.detail-page-container {
  margin: 5em 3em;
}
.frame {
  background-color: #ffffff;
  border-radius: 1em;
  display: flex;
  position: relative;
  display: flex;
  height: 60vh;
  box-shadow: 0px 1px 40px 2px rgba(0, 0, 0, 0.1);
}
.detail-page-img {
  flex-basis: 10em;
}
.frame img {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  position: relative;
  width: 40vw;
  height: 60vh;
  object-fit: cover;
}
.back-btn {
  opacity: 75%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  /* padding: 1em; */
  margin-bottom: 1em;
}
.back-btn img {
  height: 0.7em;
  margin-bottom: 0.2em;
  margin-right: 0.7em;
}
.detail-page-description {
  width: 100%;
  padding: 0.5em;
  margin: 1em;
  display: grid;
  grid-template-columns: auto;
}
.item1 h1 {
  font-size: 1.9em;
  font-weight: bold;
}
.checkout-btn {
  width: 7em;
  color: white;
  border-radius: 0.5em;
  height: 3em;
  padding: 0 1em;
  background-color: #F85902;
  border: none;
}
.item-detail-container{
  height: 80vh;
}