html,
body {
  margin: 0px;
  height: 100%;
}
.all-items-grid {
  margin: 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.4em;
  row-gap: 5em;
  align-items: center;
  justify-items: center;
}
/* Css for Login*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
section .login-img {
  position: relative;
  width: 50%;
  height: 100%;
}
section .login-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .login-form img {
  width: 7em;
  height: 7em;
}
.metamask {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0 1.5em 0;
  color: black;
}
.login-btn {
  margin-top: 1em;
  padding: 0.3em;
  width: 15em;
  font-size: 1.2em;
}
.btn:hover {
  color: #ffffff;
}
.card {
  width: 16em;
  border: none;
  border-radius: 0.5em;
  height: 19em;
  background-color: #fff;
  /* box-shadow: 0px 1px 50px 2px rgba(0, 0, 0, 0.103); */
}
/* .card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
} */

.image-section img {
  width: 16em;
  height: 14em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  object-fit: cover;
}
/* .image-section:hover{
  content: 'VIEW';
} */
.details-section {
  width: 100%;
  padding:0 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.01em;
}
.details-section h3 {
  padding-top: 0.5em;
  text-align: center;
  font-size: 1.3rem;
}
.details-section:last-child {
  width: 100%;
}
/* .price-details {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
} */
.price-details {
  text-align: center;
  font-weight: bold;
}
.view-btn {
  width: 70%;
  font-size: 1em;
}
.price-details p {
  font-size: 0.7em;
  color: #e24606;
}
.price {
  font-size: 1.5em;
}

/* Landing Page */
/* .landing-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */

.landing-page h1 {
  position: absolute;
  top: 50%;
  right: 2em;
  font-weight: bold;
  font-size: 2.7em;
  color: white;
}
.landing-page h1 > span {
  position: absolute;
  top: 80%;
  right: 0.1em;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}
.order-now-btn {
  width: 10em;
  padding: 0.5em 1em;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #F85902;
  border: none;
  color: white;
  border-radius: 1em;
}
.landing-page-image{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.carousel {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.order-btn{
  width: 100%;
  background-color: #F85902;
  border: none;
  color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.3em;
}